<footer>
  <a href="#" class="rube-logo">
    <img src="assets/images/rubeticket-footer.svg" alt="Rubeticket" width="264" height="83">
  </a>
  <p>© 2025 Rubeticket.com ticketing service. All rights reserved</p>
<!--  <section class="socials">-->
<!--    <h2>You</h2>-->
<!--    <ul class="socials__list">-->
<!--      <li>-->
<!--        <a href="/facebook">-->
<!--          <img src="assets/images/white-facebook.svg" alt="facebook">-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="instagram">-->
<!--          <img src="assets/images/white-instagram.svg" alt="instagram">-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a href="tiktok">-->
<!--          <img src="assets/images/white-tiktok.svg" alt="tiktok">-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </section>-->
</footer>
